:host {
    width: 100dvw;
}

.main-wrap {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: start;
    margin: 0 auto;
    padding: 40px 5px;
    gap: 40px;
}



.articles-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    // flex: 1;
}

.search-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
    gap: 10px;
    
}

.article {
    width: 60%;
}

.comments {
    flex: 1 !important;
}

::ng-deep .mat-expansion-panel-header-title {
    opacity: .6 !important;
}