<mat-toolbar color="primary">
    <div class="wrap">
        <span [style.fontStyle]="'italic'"
            [routerLink]="['/blog']" >web.developing.blog</span>
    
        @if (isAuthor) {
            <div class="actions">   
                <!-- <span [routerLink]="['/blog/author/', author.id]">
                    {{author.email}}
                </span> -->
                <!-- [routerLink]="['/blog/author/']" -->
                <button mat-flat-button 
                    (click)="linkToAuthorPage()">
                    {{author.email}}
                </button>
                <button mat-stroked-button 
                    (click)="logout()">Logout</button>
            </div>
        }
        @else {
            <div class="actions">
                <button mat-raised-button color="primary"
                    (click)="openLoginDialog()">Login</button>
                <button mat-raised-button color="primary"
                    (click)="openSignUpDialog()">SignUp</button>
            </div>
        }
    </div>
    
    

</mat-toolbar>
