mat-toolbar{
    display: flex;
    justify-content: center;
    padding: 40px;
    align-items: center;
    width: 100dvw;
}

.wrap {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
    max-width: 1200px;

    span {
        text-transform: uppercase;
    }
}


.header__wrap {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actions {
    display: flex;
    align-items: center;
    gap: 10px;
}