<app-header></app-header>
<div class="main-wrap">
    <div class="articles-wrap">
        
        @if(isLoading) {
            <app-loader></app-loader>
        }
        <div class="search-wrap">
            <app-title>Articles</app-title>
            <app-search></app-search>
        </div>
        
        @if(articles.length === 0) {
            Not exists yet
        } @else {
            
            @for (article of this.articles;track article.id) {
                <app-article [article]="article"></app-article>
            }  
        }
    </div>
    <app-side-nav></app-side-nav>
</div>

