.avatar {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    text-transform: uppercase;
    font-size: medium;
    color: white;
    font-size: 1em;
}

