<app-header></app-header>
<app-author-articles [articles]="articles"></app-author-articles>
<!-- <div class="main-wrap">
    <div class="articles-wrap">
        @if(isLoading) {
            <app-loader></app-loader>
        }
        <app-title>Articles</app-title>
        @if(articles.length === 0) {
            Not exists yet
        } @else {
            
            @for (article of this.articles;track article.id) {
                @defer{
                    <app-article [article]="article"></app-article>
                }
                @loading {
                    Loading...
                }
            }
        }
    </div>
    <app-side-nav></app-side-nav>
</div> -->



